@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:700&display=swap");
* {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
body {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.btnBox {
  display: none;
}
#newGameBtn, #loadGameBtn {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  display: inline-block;
  padding: 6px 40px;
  margin: 0px auto 20px auto;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: #27819a;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
}
#newGameBtn:hover, #loadGameBtn:hover {
  background-color: #4095c6;
}
#newGameBtn:focus, #loadGameBtn:focus {
  outline: none !important;
}

#main-container {
  font-family: "Arimo", sans-serif;
  color: #5e8cb3;
  position: relative;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contentWrap {
  padding-bottom: 2.5rem;
}
#game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main-header {
  margin: 3rem 0rem;
  font-family: "Cinzel Decorative";
  text-align: center;
}

#main-header h1 {
  font-size: 2rem;
  color: white;
}
#main-header p {
  color: #eeeeee;
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
}
#main-header a {
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  font-size: 0.6rem;
  color: #743b3b;
  transition: all 0.2s;
}
#main-header a:hover {
  text-decoration: none;
  color: #689d9e;
}

#mainMap{
  display: inline-block;

  /*background-image: url("../assets/mission12.png");*/
  /*background-size: 150%;*/
  /*background-position: center;*/
}

#MapViewer{
  display: inline-block;
  vertical-align: top;
}

#map{
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding-top: 20px;
}

.mapbox {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #8e8e8ede;
  vertical-align: top;
  /* background-color: transparent !important; */
   background-color: lavender;
}

.mapbox img{
  width: 36px;
  height: 36px;
}

.map-row {
  height: 40px;
}

.box-is-player, .box-is-ai,.box-is-third{
  cursor: pointer;
}

.box-is-ai{
  border: 2px solid  #9a2f2f;
}

.box-is-player{
  border: 2px solid blue !important;
}

.box-is-third{
  border: 2px solid #ffe12e;
}


.isFocused{
  border: 2px solid orange !important;
}

.available_move{
  background-color: #5e8bebd9 !important;
  cursor: pointer;
}

.available_move_ai{
  background-color: #d83c2fba !important;
}

.available_move_third{
  background-color: rgba(255, 225, 46, 0.73) !important;
}



.context-menu {
  position: absolute;
  text-align: center;
  background: lightgray;
  border: 1px solid #505050;
  font-family: 'Noto Serif JP', serif;
  border-radius: 5px;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 70px;
  list-style: none;
}

#MainMenu ul{
  min-width: 120px;
}

.context-menu ul li {
  border: 1px solid #888888;
}

.context-menu ul li:hover {
  background: #9f9f9f;
}

.player_menu_text{
  padding-top : 4px;
  padding-bottom: 4px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

#MainMenu > .player_menu_text{
  font-size: 20px;
}

.disable_move .player_menu_text{
  color: #b9b9b9;
}

.disable_move{
  pointer-events: none;
  cursor: not-allowed;
}

.robot_moved{
  filter:grayscale(100%);
}




.developer-coordinate{
  font-weight: bold;
  color: black;
}

.developer-tool{
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 10px;
  right: -10px;
  z-index: 2;
}

#developer-btn{
  padding: 1px 5px;
  font-size: 10px;
  border: none;
  opacity: 0;
  display: none;
}

.developer-coordinate{
  display:none;
}