@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:700&display=swap");
* {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
body {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
}
.btnBox {
  display: none;
}
#newGameBtn, #loadGameBtn {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  display: inline-block;
  padding: 6px 40px;
  margin: 0px auto 20px auto;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: #27819a;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
}
#newGameBtn:hover, #loadGameBtn:hover {
  background-color: #4095c6;
}
#newGameBtn:focus, #loadGameBtn:focus {
  outline: none !important;
}

#main-container {
  font-family: "Arimo", sans-serif;
  color: #5e8cb3;
  position: relative;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contentWrap {
  padding-bottom: 2.5rem;
}
#game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main-header {
  margin: 3rem 0rem;
  font-family: "Cinzel Decorative";
  text-align: center;
}

#main-header h1 {
  font-size: 2rem;
  color: white;
}
#main-header p {
  color: #eeeeee;
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
}
#main-header a {
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  font-size: 0.6rem;
  color: #743b3b;
  transition: all 0.2s;
}
#main-header a:hover {
  text-decoration: none;
  color: #689d9e;
}

#mainMap{
  display: inline-block;
  margin-right: -4px;
  /*background-image: url("../assets/mission12.png");*/
  /*background-size: 150%;*/
  /*background-position: center;*/
}

#MapViewer_container{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 80px;
}

#MapViewer{
  width:25px;
  background-color: #404040;
  color: white;
  font-family: 'Noto Serif JP', serif;
  padding-top: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  cursor: pointer;
}

#map{
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding-top: 20px;
}



#turn_notice {
  position: absolute;
  top: 50%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Noto Serif JP', serif;
  font-size: 45px;
  display: none;
  color: white;
  padding: 0 20px;
  border-radius: 5px;
}


.mapbox {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #8e8e8ede;
  vertical-align: top;
  /* background-color: transparent !important; */
  /* background-color: lavender;*/
}

.mapbox_sand1{
  background-image: url(../assets/map/sand1.png);
  background-attachment: fixed;
}

.mapbox_water1{
  background-image: url(../assets/map/water1.png);
  background-attachment: fixed;
}

.mapbox_grass1{
  background-image: url(../assets/map/grass1.png);
  background-attachment: fixed;
}

.mapbox img{
  width: 36px;
  height: 36px;
  filter: contrast(1);
}

.box_layer{
  /*background-color: #5e8bebb5;*/
  position: absolute;
  width: 38px;
  height: 38px;
}

.map-row {
  height: 40px;
}

.box-is-player, .box-is-ai,.box-is-third{
  cursor: pointer;
}

.box-is-ai{
  border: 2px solid #9a2f2fb8 !important;
}

.box-is-player{
  border: 2px solid #4242bfde !important;
}

.box-is-third{
  border: 2px solid rgba(230, 226, 15, 0.65) !important;
}


.isFocused{
  border: 2px solid orange !important;
}

.available_move{
  background-color: #5e8bebd9 !important;
  cursor: pointer;
}

.available_move_ai{
  background-color: #d83c2fba !important;
}

.available_move_third{
  background-color: rgba(255, 225, 46, 0.73) !important;
}



.context-menu {
  position: absolute;
  text-align: center;
  background: lightgray;
  border: 1px solid #505050;
  font-family: 'Noto Serif JP', serif;
  border-radius: 5px;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 70px;
  list-style: none;
}

#MainMenu ul{
  min-width: 120px;
}

.context-menu ul li {
  border: 1px solid #888888;
}

.context-menu ul li:hover {
  background: #9f9f9f;
}

.player_menu_text{
  padding-top : 4px;
  padding-bottom: 4px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

#MainMenu > .player_menu_text{
  font-size: 20px;
}

.disable_move .player_menu_text{
  color: #b9b9b9;
}

.disable_move{
  pointer-events: none;
  cursor: not-allowed;
}

.robot_moved{
  filter:grayscale(100%) !important;
}


.dialog{
  position: absolute;
  width: 1201px;
  height: 150px;
  text-align: left;
  background-color: rgba(87, 138, 236, 0.75);
  z-index: 100;
  color: white;
  box-shadow: rgb(255 40 40 / 12%) 0px 2px 4px 0px, rgb(26 110 187) 0px 2px 16px 0px;
  border: 2px solid #ffffff87;
  border-radius: 10px;
  user-select: none;
}

.dialog-bottom{
  bottom: 0;
}

.dialog_pic_container{
  display: inline-block;
  width: 124px;
  height: 146px;
  background: #ffffff9c;
  text-align: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.dialog_pic_container img{
  height: 145px;
}

.dialog_speak_container{
  font-family: 'Noto Serif JP', serif;
  width: 1030px;
  height: 146px;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 15px;
  cursor: pointer;
}

.dialog_speech{
  color:#E4E4F4;
  font-size: 23px;
}


/**** Screen width listener*/
.warning-notice{
  display: none;
}

.message {
  background: #eee;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.31);
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 40em;
  margin: 2em auto;
}
.message header {
  background: #9E9E9E;
  width: 100%;
  padding: 0.5em;
}
.message i:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  font-style: normal;
  color: #eee;
  background: #353535;
  padding: 1em 0.75em;
  font-size: 1.25em;
  display: block;
  width: 2.5em;
  height: 100%;
  text-align: center;
}
.message h2 {
  margin: 0.75em;
  font-size: 1.25em;
  position: relative;
  display: block;
  width: calc(100% - 2.5em - 1.5em);
}
.message h2 span {
  color: #9E9E9E;
}
.message h2:after {
  content: "";
  border-bottom: 0.1em solid #9E9E9E;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.error header {
  background: #D50000;
}
.error i:after {
  background: #3d1d1d;
  color: #ff5656;
  content: "";
}
.error h2 span {
  color: #D50000;
}
.error h2:after {
  border-bottom: 0.1em solid #D50000;
}

.warning header {
  background: #FF6F00;
}
.warning i:after {
  background: #432e1d;
  color: #ffb780;
  content: "";
}

.warning h2{
  font-family: 'Noto Serif JP', serif;
}

.warning h2 span {
  color: #FF6F00;
}




.developer-coordinate{
  font-weight: bold;
  color: black;
}

.developer-tool{
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 10px;
  right: -10px;
  z-index: 2;
}

#developer-btn{
  padding: 1px 5px;
  font-size: 10px;
  border: none;
  opacity: 0;
  display: none;
}

.developer-coordinate{
  display:none;
}