@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:700&display=swap");
* {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
body {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.btnBox {
  display: none;
}
#newGameBtn, #loadGameBtn {
  display: inline-block;
  padding: 6px 40px;
  margin: 0px auto 20px auto;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: #27819a;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
}
#newGameBtn:hover, #loadGameBtn:hover {
  background-color: #4095c6;
}
#newGameBtn:focus, #loadGameBtn:focus {
  outline: none !important;
}

.attackBtn {
  display: inline-block;
  padding: 1em;
  margin: 20px auto;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: #bc3e31;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
}
.attackBtn:hover {
  background-color: #d15e52;
}
.defendBtn {
  display: inline-block;
  padding: 1em;
  margin: 20px auto;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: #40806a;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
}
.defendBtn:hover {
  background-color: #649c89;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#main-container {
  font-family: "Arimo", sans-serif;
  color: #5e8cb3;
  position: relative;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contentWrap {
  padding-bottom: 2.5rem;
}
#game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main-header {
  margin: 3rem 0rem;
  font-family: "Cinzel Decorative";
  text-align: center;
}

#main-header h1 {
  font-size: 2rem;
  color: white;
}
#main-header p {
  color: #eeeeee;
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
}
#main-header a {
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  font-size: 0.6rem;
  color: #743b3b;
  transition: all 0.2s;
}
#main-header a:hover {
  text-decoration: none;
  color: #689d9e;
}
.stats-window {
  text-align: center;
  background-color: #eefbff;
  box-shadow: rgba(42, 85, 133, 0.466) 5px 7px 15px;
  height: 250px;
  overflow: initial;
  width: auto;
  padding: 1rem;
  border: 6px outset rgba(28, 110, 164, 0.48);
  border-radius: 4px;
  display: none;
}
.stats-window p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats-window h1 {
  margin-bottom: 20px;
}
.stats-window p .weaponIcon {
  margin-left: 40%;
}
#mapGrid {
  display: none;
  align-content: center;
  border: 6px outset rgba(28, 110, 164, 0.349);
  border-radius: 6px;
}

/*map*/
.mapGridRow {
  align-content: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex: 1 100%;
  flex-direction: row;
}

.mapSquare {
  height: 45px;
  width: 45px;
  background-color: #eefbff;
  border: solid 1px rgb(67, 158, 163);
}

.availableSquare {
  box-shadow: inset 0 0 10px #007e47;
}

.dimmedSquare {
  background-image: url(../assets/dimmed.jpg);
  background-size: cover;
  opacity: 80%;
}

/*players*/
.playerOne {
  background-image: url(../assets/player1.png) !important;
  background-size: cover !important;
}

.playerTwo {
  background-image: url(../assets/player2.png) !important;
  background-size: cover !important;
}

/*weapons*/

.weaponIcon {
  height: 45px;
  width: 45px;
  text-align: center;
  position: relative;
}

.snowball {
  background-image: url(../assets/snowball.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}

.fish {
  background-image: url(../assets/fish.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center;
}
.smallStone {
  background-image: url(../assets/stone-0.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.bigStone {
  background-image: url(../assets/stone-0.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
footer {
  display: none;
  justify-content: space-between;
  font-family: "Arimo", sans-serif;
  color: #bbd4d4;
  text-align: center;
  justify-content: space-evenly;
  background-color: #2d555f;
  padding: 2rem;
}
footer a {
  text-decoration: none;
  color: #bba574;
  transition: all 0.2s;
}
footer a:hover {
  text-decoration: none;
  color: #9c9360;
}
#footer-notes h3 {
  margin-bottom: 20px;
}

tr {
  text-align: left;
}
th,
#instruction h4 {
  text-align: center;
  border-bottom: solid 1px #69a598;
}
#instruction ol li {
  margin-top: 1rem;
  text-align: left;
}
#gameInfo {
  display: none;
  justify-content: space-between;
  font-family: "Arimo", sans-serif;
  color: #42739d;
  text-align: center;
  justify-content: space-evenly;
  background-color: rgba(234, 251, 252, 0.774);
  margin-top: 2rem;
  padding: 2rem;
  border-top: 6px outset rgba(28, 110, 164, 0.48);
  border-bottom: 6px outset rgba(28, 110, 164, 0.48);
  box-shadow: rgba(42, 85, 133, 0.466) 5px 7px 15px;
}
#copyrights {
  font-size: 0.8rem;
}
#credits {
  font-size: 10px;
  text-align: left;
}

@media all and (max-width: 400px) {
  * {
    font-size: 0.8rem;
  }
  #gameInfo,
  footer {
    flex-direction: column;
  }
  .mapSquare {
    height: 20px;
    width: 20px;
  }
  .stats-window {
    height: 150px;
  }
  .weaponIcon {
    height: 20px;
    width: 20px;
  }
  .attackBtn,
  .defendBtn {
    margin: 5px;
    padding: 0.5em;
  }
}
